.banner {
    background: url("images/Hijau\ Biru\ Ilustrasi\ Pasar\ Murah\ Buah\ dan\ Sayur\ Banner\ \(2\).png")
    no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #0a9655;
  }